.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form-check-input {
  cursor: pointer;
}
body {
  background-color: #5880cf !important;
}
#dark body {
  background-color: #000000 !important;
}
#light {
  transition: 0.5s;
  height: max-content;
  background-color: #5880cf;
}
#light .navbar {
  color: #ffffff !important;
  background-color: #9eb3dd !important;
}
#light .navbar button {
  color: #000000 !important;
  border: 1px solid white !important;
}
#light .card {
  color: rgb(0, 0, 0);
  background-color: #9eb3dd !important;
  border: 1px solid black !important;
}
#light .collapsed {
  color: rgb(0, 0, 0);
  background-color: #9eb3dd !important;
  border: 1px solid black !important;
}

#dark {
  transition: 0.7s;
  height: 1300px;

  background-color: black;
}
#dark .accordion-body {
  color: white;
  background-color: #1b1c1f;
}
#dark .accordion-button {
  background-color: #1b1c1f;
  color: white;
}
#dark .navbar {
  color: white !important;
  background-color: #1b1c1f !important;
}
#dark .navbar a {
  color: white !important;
}
#dark .navbar button {
  color: #000000 !important;
  border: 1px solid white;
  background-color: white;
  font-weight: 600;
}
#dark .card {
  color: white;
  background-color: #1b1c1f;
}
#dark .collapsed {
  color: white;
  background-color: #1b1c1f;
}
.form-check {
  position: absolute;
  top: 17px;
  right: 25%;
}
#dark .white {
  color: white;
}
